 body {
  text-align: center;
  background-image: url('calligraphy.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-size: cover;
 overflow-x: hidden;
}

#navbar { 
	    position: fixed;
            width: 100vw; 
            height: 45px; 
	    top:0px;
	    left:0px;
	    background-color: rgba(217, 194, 162,0.5);
        } 
  
        #navbar div { 
            display: block; 
            margin: auto; 
  
        } 


div#mainPageCenter{
position:absolute;
top:10%;
width:100%;
text-align:center;
}
a {
  font-size: 80px; 
  text-decoration: none; 
  color: YellowGreen;
}

a:hover {
  color: #fff; 
}
h1 {
  font-size: 110px;
  color:#25404B;
}

h2 {
  font-size: 40px;
color:white;
}
h1, h2 {
  margin: 10;
  padding: 10;
}
 table {
     margin: 0 auto;
    /* Center the table horizontally */
     border: none;
     border-collapse: collapse;
     table-layout: fixed;
     white-space: nowrap;
}
 td, th {
     text-align: center;
     border: none;
     padding: 8px;
}
 .form-container {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}
/* Add vertical-align for td elements */
 td {
     vertical-align: middle;
}
 .button {
     background-color: #e7e7e7;
    /* Green */
     border:none;
     color: black;
     padding: 10px 26px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     border-radius:12px;
     transition-duration: 0.4s;
}
 button:hover {
     background-color: Gray;
}
