body {
     text-align: center;
     background-image: url('../images/ship.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
     overflow-x: hidden;
}
/* Styles for the navigation bar */

 #navbar {
     position: fixed;
     width: 100%;
     height: 45px;
     top: 0;
     left: 0;
     background-color: rgba(217, 194, 162, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
	 z-index: 1000;
	 
}
 #navbar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 #navbar li {
     display: inline;
     margin-right: 10px;
}
 #navbar li a {
     text-decoration: none;
     padding: 8px;
     font-size:20px;
     color: black;
}
 #navbar li a:hover {
     color: #fff;
}
 div#mainPageCenter{
	 padding-top: 45px;
     position:absolute;
     top:10%;
     width:100%;
     text-align:center;
}
a {
     font-size: 60px;
     text-decoration: none;
     color: #18453B;
}
 a:hover {
     color: #fff;
}
 h1 {
     font-size: 90px;
     color:#25404B;
}
 h2 {
     font-size: 32px;
     color:#002D62;
}
 h1, h2 {
     margin: 5px;
     padding: 5px;
}

 .home{
     font-size:18px;
     color: color: #1864ab;
     background-color: rgba(217, 194, 162, 0.85);
	 height:100%;
	 width:100%;
	
}
 .home:hover {
     background-color: #ACE1AF;
}