body {
     text-align: center;
     background-image: url('../images/vintage.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
     overflow-x: hidden;
}
 #navbar {
     position: fixed;
     width: 100%;
     height: 45px;
     top: 0;
     left: 0;
     background-color: rgba(217, 194, 162, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
	 z-index: 1000;
}
 #navbar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 #navbar li {
     display: inline;
     margin-right: 10px;
}
 #navbar li a {
     text-decoration: none;
     padding: 12px;
     font-size:20px;
     color: black;
}
 #navbar li a:hover {
     color: #fff;
}
 div#mainPageCenter{
     position:absolute;
     top:19%;
     width:100%;
}
 table {
     margin: 0 auto;
     border-collapse: collapse;
     table-layout: fixed;
     white-space: nowrap;
}
 td, th {
     text-align: center;
     padding: 8px;
}
 td {
     vertical-align: middle;
}
 .container{
     position:relative;
     left:38%;
     height:60%;
     width:23%;
     border-radius:25px;
     background-color: rgba(217, 194, 162, 0.72);
}
 .containerRegister{
     position:relative;
     left:37%;
     height:60%;
     width:27%;
     border-radius:25px;
     background-color: rgba(217, 194, 162, 0.72);
}
 .left {
     text-align: start;
     margin:0;
}
 .container2{
     position:relative;
     left:21%;
     color:#123650;
     font-size: 18px;
     padding:5px;
     font-weight: bold;
}
 .container2Register{
     position:relative;
     left:25%;
     color:#123650;
     font-size: 18px;
     padding:5px;
     font-weight: bold;
}
 h1{
     color:#123650;
     font-size:40px;
}
 .input2{
     padding: 7px 3px;
     background-color: rgba(217, 194, 162, 0.8);
}
 .btn {
     padding: 10px 20px;
     font-size:18px;
     color: color: #1864ab;
     background-color: rgba(217, 194, 162, 0.85);;
}
 .btn:hover {
     background-color: #fd5c63;
}
 .home{
     font-size:18px;
     color: color: #1864ab;
     background-color: rgba(217, 194, 162, 0.85);
	 height:100%;
	 width:100%;
	
}
 .home:hover {
     background-color: #ACE1AF;
}