<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" th:href="@{/css/defaultPage.css}"> 
    
</head>

<body>
	
<nav id="navbar"> 
  	
  	<img src="/css/logo4.png" height="101" width="110" alt="Logo image"> 
    </nav> 
    
	<div id ="mainPageCenter">
		<h1> Story Tracker </h1>
		<h2> Never forget your journey</h2>
		<h2> Capture the moment </h2>
		<a href="/login"> Join Now </a>
	</div>

	
		
		


</body>

</html>
