<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	  <link rel="stylesheet" type="text/css" th:href="@{/css/notesStyle.css}"> 
<script>
	function logout(){
		document.getElementById('logout').submit();
	}
</script>
</head>

<body>
 <form th:action="@{/logout}" method="post" id="logout">
            </form>
<nav id="navbar"> 
    <ul>
		<li><a class="home" href="/home">Home</a></li>
	
 	  <li>
	  	  <button class = "btn" type="submit" onclick="logout()"> Logout </button>  
	  </li> 
	</ul> 
  	<img src="/images/logo4.png" height="101" width="110" alt="Logo image"> 
 
    </nav> 
    
	<div id ="mainPageCenter">
		
	<div class = "container2EditNote">
		<h3 class = "intro"> Edit Specific Note </h3>
	</div>
	
	<table class ="table">
		<tr>
			<th>Story Name</th>
			<th>Edit Notes name</th>
			<th>Edit Comment</th>
			<th> Save changes </th>
		</tr>
		<tr>
			<form th:action="@{/home/updateNote}" method="post">
				<td>
					<label class="bolder" th:text="${trackerName}"/>
		 		</td>
		 		<td> 
		 			<input th:value="${notesName}" size="10" name = "notesName" pattern=".{1,20}" required title="1 characters minimum, 20 maximum">
				</td>
				<td>
						  <input th:value="${notesComment}" size="40" name = "notesComment" pattern=".{1,}" required title="1 character minimum">
				</td>
				<td class="padded">
					<input type="hidden" name = "notesId" th:value="${notesId}">
					<input type="hidden" name = "storyId" th:value="${storyId}">
					<input type="hidden" name = "trackerName" th:value="${trackerName}">
					<button class = "homeApply" type="Add">Save</button>	
				</td>
				</tr>
				<tr>
			<td class="paddedv2"> Created on: </td>
			<td class="paddedv2"> <input type="datetime-local" th:value="${createdOn}" name="createdOn"></td>
			<td class="paddedv2"> Last Read Date: </td>
			<td class="paddedv2">  <input type="datetime-local"th:value="${lastModified}"  name="lastModified"></td>
				<tr>
				</form>
		

		</table>


		</div>
	
</body>
</html>