<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	  <link rel="stylesheet" type="text/css" th:href="@{/css/notesStyle.css}"> 
</head>

<body>

<nav id="navbar"> 
    <ul>
	  <li><a href="/home">Home</a></li>
	  <li><a href="/register">Sign Up</a></li> 
	  <li><a href="/login">Login</a></li>

	</ul> 
  	<img src="/css/logo4.png" height="101" width="110" alt="Logo image"> 
 
    </nav> 
    
	<div id ="mainPageCenter">
		
	<h1> Edit specific Note </h1>
	<table class ="table">
		<tr>
			<th>Story Name</th>
			<th>Edit Notes name</th>
			<th>Edit Comment</th>
			<th> Save changes </th>
		</tr>
		<tr>
			<form th:action="@{/home/updateNote}" method="post">
				<td>
					<label class="bolder" th:text="${trackerName}"/>
		 		</td>
		 		<td> 
		 			<input th:value="${notesName}" size="10" name = "notesName" pattern=".{1,20}" required title="1 characters minimum, 20 maximum">
				</td>
				<td>
						  <input th:value="${notesComment}" size="40" name = "notesComment" pattern=".{1,}" required title="1 character minimum">
				</td>
				<td>
					<input type="hidden" name = "notesId" th:value="${notesId}">
					<input type="hidden" name = "storyId" th:value="${storyId}">
					<input type="hidden" name = "trackerName" th:value="${trackerName}">
					<button  class = "button" type="Add">Save</button>	
				</td>
				</form>
		</tr>

		</table>


		</div>
	
</body>
</html>