<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
       <link rel="stylesheet" type="text/css" th:href="@{/css/loginStyle.css}"> 
</head>

<body>
	<nav id="navbar"> 
    <ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/register">Sign Up</a></li> 
	  <li><a href="/login">Login</a></li>

	</ul> 
  	<img src="/css/logo4.png" height="101" width="110" alt="Logo image"> 
 
    </nav> 
    
	<div id ="mainPageCenter">
		<article class = "container">
			<br> 
		<h1>Login Here</h1>
		<div th:if="${param.error}">
			Invalid username and password.</div>
		<div th:if="${param.logout}">
			You have been logged out.</div>
		<th:if="${registration != null}">
			<p th:text="${registration}"/>
		</th:if>
		<form th:action="@{/login}" method="post">
			
			<div class="container2">
				<p class="left"> Username</p>
			</div>
				<input class = "input2" type="text" name="username" placeholder="Unique Username"/>
				<br><br>
			<div class="container2">
				<p class="left"> Password </p>
			</div>
				<input class = "input2" type="password" name="password" placeholder="Password"/>
			<br><br> 
			
			<table>
				<th> 	<input class="btn" type="submit" value="Login" /> </th>
				</form>
				<form th:action="@{/register}" method="get">
				<th>
							<input class = "btn" type="submit" value="Register" />
				 </th>
				 </form>
			</table>
			<br> <br> <br> 
		</article>
</div>

</body>
</html>
