<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/notesStyle.css}"> 
    
<script>
	function logout(){
		document.getElementById('logout').submit();
	}
</script>
</head>

<body>
	 <form th:action="@{/logout}" method="post" id="logout">
            </form>
            
<nav id="navbar"> 
    <ul>
	<li><a class="home" href="/home">Home</a></li>
  	  <li>
	  	  <button class = "btn" type="submit" onclick="logout()"> Logout </button>  
	  </li> 
	</ul> 
  	<img src="/images/logo4.png" height="101" width="110" alt="Logo image"> 
 
    </nav> 
    
	<div id ="mainPageCenter">
		
	<div class = "containerNotes">
		
		<h1> Add notes to your Story! </h1>
		<p> The main idea here is to capture the moment. </p>
		<p> The exact feelings at this chapter.</p>
		
	</div>
	
	<table class ="table">
		<tr>
			<th>Story Name</th>
			<th>Notes name</th>
			<th>Add a Comment</th>
			<th> Submit </th>
		</tr>
		<tr>
			<form th:action="@{/home/addNotes}" method="post">
				<td>
					<label class="bolder" th:text="${trackerName}"/>
		 		</td>
		 		<td> 
		 			<input value="Default" size="10" name = "name" pattern=".{1,20}" required title="1 characters minimum, 20 maximum">
				</td>
				<td>
						  <input size="40" name = "comments" pattern=".{1,}" required title="1 character minimum">
				</td>
				<td class="padded">
					<input type="hidden" name = "storyId" th:value="${storyId}">
					<input type="hidden" name = "trackerName" th:value="${trackerName}">
					<button  class = "homeApply" type="Add">Add Note</button>	
				</td>
				</form>
		</tr>

		</table>
		
		<br><br>

<table class="table">
	<tr>
		<th> id </th>
		<th>Story Name</th>
		<th>Notes name</th>
		<th> Created On </th>
		<th> Last Read </th>
		<th> Days </th>
		<th colspan="2"> Actions </th>
	</tr>
	
    <th:if="${notesList != null}">
        <th:block th:each="notes, index : ${notesList}">
			<tr>
	            <td th:text="${index.count}" />
	            <td class="pad" th:text="${notes.tracker.name}" />
	            <td class="pad" th:text="${notes.name}" />
	            <td class="pad" th:text="${notes.getCreatedOnConvertedToDate}" />
	            <td class="pad" th:text="${notes.getLastModifiedConvertedToDate}"/> 
	            <td class="pad" th:text="${notes.lastRead}  + ' day(s)' " />
	            <td class="padded">
	                <form th:action="@{/home/editNote}" method="post" id="edit_form">
	                    <input type="hidden" name="notesId" th:value="${notes.id}" />
	                    <input type="hidden" name = "storyId" th:value="${storyId}">
						<input type="hidden" name = "trackerName" th:value="${trackerName}">
	                    <input type="hidden" name="notesComment" th:value="${notes.comments}" />
	                   <input type="hidden" name="notesName" th:value="${notes.name}" />
	                    <input class="homeEdit" type="submit" value="Edit" />
	                </form>
	             </td>
	             <td class="padded">
	                <form th:action="@{/deleteNote}" method="post" id="delete_form">
						<input type="hidden" name = "storyId" th:value="${storyId}">
						<input type="hidden" name = "trackerName" th:value="${trackerName}">
	                    <input type="hidden" name="notesId" th:value="${notes.id}" />
	                    <input class="homeDelete" type="submit" value="Delete" />
	                </form>
	            </td>
	            <tr>
	                <td class="pad"> Comment:</td> <!-- Empty id -->
	               
	               <td colspan="5">
	             		<div class="comment-cell" th:text="${notes.comments}"></div>
	               </td>
	               <td> </td> <td> </td>
	            </tr>
	        </tr>
       </th:block>
    </th:if>
</table>
<br><br>






		
</div>	
</body>
</html>