<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" th:href="@{/css/loginStyle.css}"> 
</head>

<body>
	<nav id="navbar"> 
    <ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/register">Sign Up</a></li> 
	  <li><a href="/login">Login</a></li>

	</ul> 
  	<img src="/css/logo4.png" height="101" width="110" alt="Logo image"> 
 
    </nav> 
    
	<div id ="mainPageCenter">
		
			<h1>Please Register</h1>
		<th:if="${usernameTaken != null}">
			<p th:text="${usernameTaken}"/>
		</th:if>
	<form th:action="@{/registerSave}" method="post">
			<br>
			<input type="text" name="username" placeholder="New Username"
					pattern=".{1,40}" required title="1 character minimum, 40 maximum"/>
			<br><br>
			<input type="password" name="password" placeholder="Enter Password"
					pattern=".{1,40}" required title="1 character minimum, 40 maximum"/>
			<br><br> 
			<table>
   			<th>
			 <input type="submit" value="Sign Up" />	 
			 </th>
		</form>
		<form th:action="@{/login}" method="get">		
			<th> <input type="submit" value="Back to Login" />
			</th>
			</form>
			</table>
	
		
	</div>
	
	
</body>
</html>
