<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainStyle.css}"> 

   <script>
    function updateURL(sortField) {

        var createdOn = document.getElementById("createdOn").checked;
        var lastModified = document.getElementById("lastModified").checked;
        var lastRead = document.getElementById("lastRead").checked;
        var lastReadDays = document.getElementById("lastReadDays").checked;
        var currentPage = document.getElementById("currentPage").value;
        var reverseSortDir = document.getElementById("reverseSortDir").value;
        var pageSize = document.getElementById("pageSize").value;

        var newURL = `/page/${currentPage}?sortField=${sortField}&sortDir=${reverseSortDir}`;

        newURL += "&pageSize=" + pageSize;


        if (createdOn) {
            newURL += "&createdOn=true";
        }
        if (lastModified) {
            newURL += "&lastModified=true";
        }
        if (lastRead) {
            newURL += "&lastRead=true";
        }
        if (lastReadDays) {
            newURL += "&lastReadDays=true";
        }

        document.getElementById("dynamicLink").href = newURL;
        document.getElementById("dynamicLink1").href = newURL;
        document.getElementById("dynamicLink2").href = newURL;
        document.getElementById("dynamicLink3").href = newURL;
        document.getElementById("dynamicLink4").href = newURL;

        if (!createdOn) {
            document.getElementById("dynamicLink5").href = newURL;
        }
        if (!lastModified) {
            document.getElementById("dynamicLink6").href = newURL;
        }
        if (!lastRead) {
            document.getElementById("dynamicLink7").href = newURL;
        }
        if (!lastReadDays) {
            document.getElementById("dynamicLink88").href = newURL;
        }

    }
</script>

<script>
    function updateURLPrevious() {
        var createdOn = document.getElementById("createdOn").checked;
        var lastModified = document.getElementById("lastModified").checked;
        var lastRead = document.getElementById("lastRead").checked;
        var lastReadDays = document.getElementById("lastReadDays").checked;

        var currentPage = document.getElementById("currentPage").value; // Change this to the actual current page
        currentPage = +currentPage - +1;
        var sortDir = document.getElementById("sortDir").value; // Change this to the actual sort direction
        var sortField = document.getElementById("sortField").value;
        var newURL = `/page/${currentPage}?sortField=${sortField}&sortDir=${sortDir}`;


        var pageSize = document.getElementById("pageSize").value;

        newURL += "&pageSize=" + pageSize;


        if (createdOn) {
            newURL += "&createdOn=true";
        }
        if (lastModified) {
            newURL += "&lastModified=true";
        }
        if (lastRead) {
            newURL += "&lastRead=true";
        }
        if (lastReadDays) {
            newURL += "&lastReadDays=true";
        }

        document.getElementById("dynamicLinkPrevious").href = newURL;


    }
</script>
<script>
    function updateURLNext() {
        var createdOn = document.getElementById("createdOn").checked;
        var lastModified = document.getElementById("lastModified").checked;
        var lastRead = document.getElementById("lastRead").checked;
        var lastReadDays = document.getElementById("lastReadDays").checked;
        var currentPage = document.getElementById("currentPage").value; // Change this to the actual current page
        currentPage = +currentPage + +1;

        var sortDir = document.getElementById("sortDir").value; // Change this to the actual sort direction
        var sortField = document.getElementById("sortField").value;
        var newURL = `/page/${currentPage}?sortField=${sortField}&sortDir=${sortDir}`;

        var pageSize = document.getElementById("pageSize").value;

        newURL += "&pageSize=" + pageSize;


        if (createdOn) {
            newURL += "&createdOn=true";
        }
        if (lastModified) {
            newURL += "&lastModified=true";
        }
        if (lastRead) {
            newURL += "&lastRead=true";
        }
        if (lastReadDays) {
            newURL += "&lastReadDays=true";
        }

        document.getElementById("dynamicLinkNext").href = newURL;
    }
    
</script>


	
</head>

<body>
<nav></nav>
<div id = "mainPageCenter">
	
 <h1> Story Tracker Test </h1>
	
	<h3> Make a new Story to track! </h3>
	
	<table>
		<tr>
			<th>Story Name</th>
			<th>Category</th>
			<th>Status</th>
			<th>Progress</th>
			<th> Submit </th>
		</tr>
		<tr>
			<form  th:action="@{/addTracker}" method="post">
				<input type="hidden" name="createdOnNoTrackerBind" th:value="${createdOnAnswer}" />
		 		<input type="hidden" name="lastModifiedNoTrackerBind" th:value="${lastModifiedAnswer}" />
				<input type="hidden" name="lastReadNoTrackerBind" th:value="${lastReadAnswer}" />
				<input type="hidden" name="lastReadDaysNoTrackerBind" th:value="${lastReadDaysAnswer}" />
				<input type="hidden" name="currentPage" th:value="${currentPage}">
				<input type="hidden" name="sortField" th:value="${sortField}">
				<input type="hidden" name="sortDir" th:value="${sortDir}">	
				<input type="hidden" id="pageSize" name="pageSize" th:value="${pageSize}">
			
			<td>
	 			<input name = "name" pattern=".{1,100}" required title="1 characters minimum, 100 maximum">
			</td>
			<td>	
					<select  name = "category">
					<option th:each="c :${categoriesList}"
					th:value = "${c.id}"
					th:text = "${c.name}"/>
				</select>
			</td>
			<td>
				<select name = "status">
					<option th:each="s :${statusList}"
					th:value = "${s.id}"
					th:text = "${s.name}"/>
				</select>
			</td>
			<td>
				<input name = "progress" pattern=".{1,40}" required title="1 character minimum, 40 maximum" placeholder="Progress tracking">
			</td>
			<td>
				<button  class = "button" type="Add">Add a Story</button>	
			</td>
			
			</form>
			
		</tr>
		
	</table>
	
					
		<br>
	<table class = "table2">
		<tr> 
			<th> </th>		
			<th> Created on </th>
			<th> Last Modified </th>
			<th> Last Read Days </th>
			<th> Last Read Hr </th>
			<th>  </th>
			<th> Logout </th>
		</tr>
		<tr>
			<form th:action = "@{/show}" method = "post">
						<input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}">
						<input type="hidden" id="sortField" name="sortField" th:value="${sortField}">
						<input type="hidden" id="sortDir" name="sortDir" th:value="${sortDir}">
						<input type="hidden" name="pageSize" th:value="${pageSize}">
						<input type="hidden"  id="reverseSortDir" name="reverseSortDir" th:value="${reverseSortDir}">
		<td> Show/Hide columns: </td>
		<td><input type="checkbox" id="createdOn"  name="createdOn" th:checked="${createdOnAnswer}" /></td> 
		<td> <input type="checkbox" id="lastModified"  name="lastModified" th:checked="${lastModifiedAnswer != null}" /></td> 
		<td> <input type="checkbox" id="lastReadDays"  name="lastReadDays" th:checked="${lastReadDaysAnswer != null}" /></td> 
		<td> <input type="checkbox" id="lastRead"  name="lastRead" th:checked="${lastReadAnswer != null}" /></td> 
		<td> 		<input  type="submit" value="Apply"> </td> 
		</form>
		    <td>
            <form th:action="@{/logout}" method="post" id="logout">
                <input type="submit" value="Logout" />
            </form>
        </td>
		</tr>
	</table>


	
	
			<table class = "table">
		<tr>
			<th>
				<a id="dynamicLink">
					 <button type="button" onclick="updateURL('id')">id</button>
				 </a>
				</th>
			<th>
				<a id="dynamicLink1">
					 <button type="button" onclick="updateURL('name')">Name</button>
				 </a>
			</th>
			<th>
				<a id="dynamicLink2">
					 <button type="button" onclick="updateURL('category')">Category</button>
				 </a>
			</th>
			<th>
			<a id="dynamicLink3">
					 <button type="button" onclick="updateURL('status')">Status</button>
				 </a>
			</th>
			<th>
				<a id="dynamicLink4">
					 <button type="button" onclick="updateURL('progress')">Progress</button>
				 </a>
			</th>
			<th th:if="${createdOnAnswer == on}">
				<a id="dynamicLink5">
					 <button type="button" onclick="updateURL('createdOn')">Created On</button>
				 </a>
			</th>
			<th th:if="${lastModifiedAnswer == on}"> 
				<a id="dynamicLink6">
					 <button type="button" onclick="updateURL('lastModified')">Last Modified</button>
				 </a>
			</th>
			<th th:if="${lastReadDaysAnswer == on}">
				<a id="dynamicLink88">
					 <button type="button" onclick="updateURL('lastReadDays')">Last Read Days</button>
				 </a>
			</th>
			<th th:if="${lastReadAnswer == on}">
				<a id="dynamicLink7">
					 <button type="button" onclick="updateURL('lastReadHours')">Last Read Hrs</button>
				 </a> 
			</th>
			<th colspan="2"> Actions </th>
			<th> Notes </th>
		</tr>
		<th:if "${trackerListPaged!=null}">
				<tr th:each="tracker, index : ${	trackerListPaged}"> 
					<td th:text="${indexList[index.count-1]}+1"/>
					<!-- index for trackerListPaged starts from 1.But indexList starts from 0. That's why index.count-1.
					 But i want indexing to start at 1 so the +1 after {}.-->
					<td class = "comment-cell" th:text="${tracker.name}"/>
					<td th:text="${tracker.category.name}"/>
					<td th:text="${tracker.status.name}"/>
					<td class = "comment-cell2" th:text="${tracker.progress}"/>
					<td th:if="${createdOnAnswer ==  on}" th:text="${tracker.getCreatedOnConvertedToDate}"/>  
					<td th:if="${lastModifiedAnswer ==  on}" th:text="${tracker.getLastModifiedConvertedToDate}" />
					<td th:if="${lastReadDaysAnswer ==  on}" th:text="${tracker.lastReadDays} + ' day(s)'"/>		
					<td th:if="${lastReadAnswer ==  on}" th:text="${tracker.lastReadHours} + ' hour(s)'"/>		
					
					<td>
							<form  th:action="@{/edit}" method="post" id="edit_form">
							<input type="hidden" name = "editId" th:value="${tracker.id}">
							
							<input type="hidden" name="createdOn" th:value="${createdOnAnswer}" />
					 		<input type="hidden" name="lastModified" th:value="${lastModifiedAnswer}" />
							<input type="hidden" name="lastRead" th:value="${lastReadAnswer}" />
							<input type="hidden" name="lastReadDays" th:value="${lastReadDaysAnswer}" />
							<input type="hidden" name="currentPage" th:value="${currentPage}">
							<input type="hidden" name="sortField" th:value="${sortField}">
							<input type="hidden" name="sortDir" th:value="${sortDir}">	
							<input type="hidden" name="pageSize" th:value="${pageSize}">
							<input  type="submit" value="Edit">
						</form>
					</td>
					<td>
						<form  th:action="@{/delete}" method="post" id="delete_form">
							<input type="hidden" name="idDelete" th:value="${tracker.id}">
							
							<input type="hidden" name="createdOn" th:value="${createdOnAnswer}" />
					 		<input type="hidden" name="lastModified" th:value="${lastModifiedAnswer}" />
							<input type="hidden" name="lastReadDays" th:value="${lastReadDaysAnswer}" />
							<input type="hidden" name="lastRead" th:value="${lastReadAnswer}" />
							<input type="hidden" name="currentPage" th:value="${currentPage}">
							<input type="hidden" name="sortField" th:value="${sortField}">
							<input type="hidden" name="sortDir" th:value="${sortDir}">	
							<input type="hidden" name="pageSize" th:value="${pageSize}">
							<input  type="submit" value="Delete">
						</form>
					</td>
					<td> 
						<form action="notes" method="get" id="notes_form">
							<input type="hidden" name = "storyId" th:value="${tracker.id}">
							<input type="hidden" name = "trackerName" th:value="${tracker.name}">			
							<input type="submit" value="Notes"/>
						</form>
					</td>
				</tr>
				
		</table>
		<br>
	
		<span class="form-container"> 
			<span> Items per page: </span>

			<form  th:action="@{/pageSizeReq}" method="post" id="myForm">
							<input type="hidden" name="createdOn" th:value="${createdOnAnswer}" />
					 		<input type="hidden" name="lastModified" th:value="${lastModifiedAnswer}" />
							<input type="hidden" name="lastReadDays" th:value="${lastReadDaysAnswer}" />
							<input type="hidden" name="lastRead" th:value="${lastReadAnswer}" />
							<input type="hidden" name="currentPage" th:value="${currentPage}">
							<input type="hidden" name="sortField" th:value="${sortField}">
							<input type="hidden" name="sortDir" th:value="${sortDir}">	
							
					<input size="1" name = "pageSize" pattern="^[1-9][0-9]?$|^100$" required title="1 pages minimum, 100 maximum" th:value="${pageSize}"}>
			    	<input type="submit" value="Confirm"/>
			</form>
		</span>
		<br>
		
		<span><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></span>
		&nbsp;&nbsp;
		<span> Total items: [[${totalItems}]]</span> 
			<a id="dynamicLinkPrevious" th:if="${currentPage>1}" >
					<button type="button" onclick="updateURLPrevious()">Previous</button>
				 </a>
				 	<a id="dynamicLinkNext" th:if="${currentPage<totalPages}">
					<button type="button" onclick="updateURLNext()">Next</button>
				 </a>
				<br>
		
  <!--
		<br> <br>
			<input type="text" th:value="${currentPage}"/>
	<input type="text" th:value="${totalPages}"/>
		<input type="text" th:value="${totalItems}"/>
	-->
		
</body>
<header> 

	<div class = "nav5">
		
	<ul> 
		<li> <a href="#"> Home </a> </li> 
		
	</ul>
	</div>
	</header>
</html>
